/* Header Style */

#logo-style {
    width: 175px;
    height: auto;
    padding: 15px 0 5px 0;
}

/* Menu Style */

ion-split-pane {
    min-width: 20vw!important;
    max-width: 20vw!important;
    height: 100%;
}

/* Menu Item Style */

ion-item {
    margin-left: 0.5vw;
}

#icon-style {
    height: auto;
    width: 7%;
    margin-right: 15px;
}

ion-label {
    font-size: 1.2vw;
}

.active-item {
    border-left: 8px solid var(--ion-color-primary);
}