
<ion-content [fullscreen]="true">

  <app-topmenu></app-topmenu>

  <div class="top-portion">
    <div class="banner">
      <ion-card id="edit-button" [class.hidden]="!ownsProfile" button=true (click)="editJoys()">
        <img class="edit-icon" src="../../../assets/pencil-edit-button.svg">
        Edit Joys
      </ion-card>
      <ion-card id="send-friend-request" [class.hidden]="ownsProfile" button=true (click)="sendFriendRequest()">
        <img class="edit-icon" src="../../../assets/pencil-edit-button.svg">
        Send Friend Request
      </ion-card>
    </div>
    
    <div class="avatar"></div>
    <img class="profile-photo" alt="Profile Photo" src="../../../assets/outline.png">
    
    <h1 class="user-name">{{userProfile.firstName}} {{userProfile.lastName}}</h1>

    <br>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <br>

    <div id="joy-buttons">
      <ion-card class="joy-button" button="true" (click)="expandJoy(joy)" *ngFor="let joy of userProfile.joys">
          <ion-card-content>
            <ion-row>
              <img class="icon" [src]="joy.icon" />
              <span class="tag-text">{{ joy.name }}</span>
            </ion-row>
          </ion-card-content>
      </ion-card>
    </div>
  </div>

  <br>

  <div class="content-portion">
    
    <br>

    <div id="content-details">
      
    </div>
  </div>


<!-- 
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile colspan="1" *ngFor="let joy of userProfile.joys" (click)="openDialog()">
      <div class="tilefix">
        <mat-card *ngIf="joy.status > 77" id="positive">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" [src]="joy.icon">
            <div id="card-banner"></div>
            <div class=card-info>
              <p class="card-title">{{joy.name}}</p>
              <p class="card-category">{{joy.category}}</p>
            </div>
          </mat-card-header>
        </mat-card>

        <mat-card *ngIf="joy.status > 33 && joy.status < 77" id="neutral">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <img id="card-banner" alt="Memories Preview" [src]="joy.memories">
          </mat-card-header>
          <mat-card-content>
            <p class="card-title">{{joy.name}}</p>
            <p class="card-category">{{joy.category}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="joy.status < 33" id="negative">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <img id="card-banner" alt="Memories Preview" [src]="joy.memories">
          </mat-card-header>
          <mat-card-content>
            <p class="card-title">{{joy.name}}</p>
            <p class="card-category">{{joy.category}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
  
</ion-content>


<!-- 
  <ion-grid>
    <ion-row>
      
      <ion-col class="overview" style="margin-left: 7%;">
        <ion-item lines="none" id="welcome">
          <ion-label class="ion-text-wrap">
            <ion-title>{{ this.welcomeHeadline }}</ion-title>
            <ion-text style="color: grey">
              <p>{{ this.introMsg }}</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item lines="none" id="search-bar">
          <ion-searchbar></ion-searchbar>
        </ion-item>

        <br><br><br>

        <ion-item lines="none" class="joy-row">
          <ion-grid>
            <ion-row>
              <ion-col class="joy-col" size="3" (click)="goToJoyMap()">
                <img [src]="'assets/icon/joymap.png'" />
                Joymap
                <br>&nbsp;
              </ion-col>
              <ion-col class="joy-col" size="3" *ngFor="let joy of this.profileUser.joys" (click)="this.displayedJoy = joy">
                <img [src]="joy.joyIcon" />
                {{ joy.name }}
                <br>&nbsp;
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

      <ion-col class="planner" style="margin-left: 10%;">
        <app-joycard [joy]="displayedJoy"></app-joycard>

      </ion-col>

    </ion-row>
  </ion-grid> -->