<ion-tabs>

  <ion-tab-bar slot="top">

    <img class="logo-image" alt="JoyFill Logo" src="../../../assets/logo.png" (click)="navigateToHome()" />

    <ion-searchbar></ion-searchbar>
    
    <ion-tab-button (click)="navigateToHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToProfile()">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToFriends()">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="exit"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>