$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font: 'Lato', sans-serif;

ion-card {
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba($gray, 10%);
    perspective: 40px;
    margin: 15px 15px 15px 15px;
    &:hover {
        transform: scale(1.01);
        transition: all .3s ease-in-out;
    }
}

#positive {
    background: linear-gradient(to bottom right, $success 40%, $secondary 100%);
}

#negative {
    background: linear-gradient(to bottom left, $error 40%, $orange 100%);
}

#profile-photo {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

ion-card-title {
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 3px;
    color: $white;
    padding-top: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}

#container {
  display: flex;
  margin: auto;
  width: auto;
  overflow: hidden;
}

.green {
  color: darken($secondary, 20%);
}

.red {
  color: darken($error, 10%);
}

.alert {
  font-weight: 700;
  letter-spacing: 5px;
}

p {
  font-size: 1.3em;
  font-weight: 100;
  color: darken($dark, 10%);
  letter-spacing: 1px;
  white-space: nowrap;
}

button, .dot {
  cursor: pointer;
}

.dot {
  width: 8px;
  height: 8px;
  position: absolute;
  background: $white;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  &:hover {
    background: darken($white, 20%);
  }
}

.two {
  right: 3%;
  opacity: .5;
}

ion-button {
  --background: white; 
  --border-radius: 20px;
  float: right;
  color: darken($secondary, 20%);
  outline: 0;
  border: none;
  transition: all .5s ease-in-out;
  margin: 0 20px 20px 20px;
  &:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}