

<ion-header>
  <ion-toolbar>
    <ion-title>Getting Started</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Type in your joys here..."></ion-searchbar>
  <ion-list>
    <ion-item button="true" (click)="selectJoy(joy)" *ngFor="let joy of currentJoys">
      <ion-label>{{joy.name}}</ion-label>
    </ion-item>
    
    <!-- <button ion-item (click)="openJoy(joy)" *ngFor="let joy of currentJoys">
      <ion-avatar item-start>
        <img [src]="joy.profilePic" />
      </ion-avatar>
      <h2>{{joy.name}}</h2>
      <p>{{joy.about}}</p>
      <ion-note item-end *ngIf="joy.note">{{joy.note}}</ion-note>
    </button> -->
  </ion-list>

  <ion-title> Selected Joys: </ion-title>
  <ion-card *ngFor="let joy of selectedJoys">
    <ion-card-content>{{ joy.name }}</ion-card-content>
  </ion-card>

  <ion-row justify-content-center>  
    <ion-col>
      <ion-button size="small" color="secondary" (click)="submitJoys()">Proceed</ion-button>
    </ion-col>
    <!-- <ion-button  size="small" color="secondary">Proceed</ion-button> -->
  </ion-row>

</ion-content>