

  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Tell us the things that bring you joy...</ion-card-title>
  </ion-card-header>

  <!-- <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card> -->

<ion-card button="true" (click)="goJoySearchBar()">
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Know your joys?</ion-label>
    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>

  <ion-card-content>
    Go ahead and generate them through our database!
  </ion-card-content>
</ion-card>

<ion-card button="true" (click)="goJoyEval()">
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Unsure?</ion-label>
    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>

  <ion-card-content>
    Explore our joy-finding process! <br>
    We help you navigate and evaluate what you truly desire. <br>
    84% of our users highly recommend this process!
  </ion-card-content>
</ion-card>

