<ion-content [fullscreen]="true">

    <app-topmenu></app-topmenu>

    <div class="center-screen">
        <h1 id="welcome-text"> 
            <b>Welcome to Joyfill {{ this.userService.currentUser.firstName }}!</b>
        </h1>
    </div>
  
<!-- 
  
    <div class="main">
      <div id="container">
        <graph [nodes]="nodes" [links]="links"></graph>
      </div>

    </div>
    <div id="inv">
      <h1>Notifications</h1>
      <app-notifications></app-notifications>
    </div>
     -->
</ion-content>
