@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font: 'Lato', sans-serif;

/* Menu Style */
#sidemenu {
  float: left;
  padding: 20px 0 0 20px;
}

ion-buttons {
  --background-color: transparent;
  --ion-color-base: transparent !important;
  position: absolute;
  margin-left: 2vw;
  margin-top: 2vw;
}

ion-menu-button {
  --background-color: #000000;
}

/* Diagram Style */
#main {
  min-height: 100vh;
  display: flex;
  background-color: #252a41;
}

#sidemenu {
  width: 20vw;
}

#container {
  background-color: #252a41;
  height: 100vh;
  width: 82vw;
}

/* Notification Style */
#inv {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 82vw;
  background-color: lightgray;
}

h1 {
  text-align: center;
}

/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
}

.panel-left {
  /* only manually resize */
  height: 100vh;
  width: 17vw;
  white-space: nowrap;
  background: white;
  color: white;
}
